name: Build Debug APK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@actions/checkout@b4ffde65f46336ab88eb53be808479a29c0d7f36
      - name: Set up JDK 17
        uses: actions/setup-java@actions/checkout@b4ffde65f46336ab88eb53be808479a29c0d7f36
        with:
          java-version: '17'
          distribution: 'temurin'
      - run: chmod +x ./gradlew
      - run: ./gradlew assembleDebug
      - uses: actions/upload-artifact@actions/checkout@b4ffde65f46336ab88eb53be808479a29c0d7f36
        with:
          name: app-debug-apk
          path: app/build/outputs/apk/debug/app-debug.apk
